# certifi @ file:///croot/certifi_1665076670883/work/certifi
click==8.1.3
dlib==19.24.0
face-recognition==1.3.0
face-recognition-models==0.3.0
numpy==1.23.5
opencv-python==4.6.0.66
Pillow==10.0.1
python-dotenv==0.21.0
urllib3==1.26.13
requests==2.31.0
